body {
  /* background-image: url('../img/fondo2.jpg'); */
  font-family: 'Open Sans', sans-serif;


  background-color: black;

}

.titulo{
  color: darkblue;
}

.table {
  border: none;

}

.table td {
  background-color: transparent;

  color: white;
}


.table {
  border: 1px solid white;
  /* Add white border to the table itself */
}

.table td {
  border: 1px solid white;
  /* Add white border to each cell */
}

.table {
  border-collapse: collapse;
  /* Collapse borders within the table */
}

#estilo1 {
  background-color: #78D75B;
}